@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/poppinsregular.woff2') format('woff2'),
  url('../fonts/poppinsregular.woff') format('woff');
}


@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/poppinssemibold.woff2') format('woff2'),
  url('../fonts/poppinssemibold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/poppinsbold.woff2') format('woff2'),
  url('../fonts/poppinsbold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
}

.container {
  width: 1355px;
  margin-inline: auto;
  padding-inline: 20px;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header {
  padding-top: 50px;
}

.heading {
  display: flex;
}


.heading-box {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 680px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:nth-child(4) {
  margin-right: 40px;
}

.nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: none;
}

.site-link {
  color: #FFF;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: none;
  border-radius: 48px;
  background-color: #161616;
}

.section-money {
  margin-top: 140px;
  text-align: center;
}

.money-title-box {
  margin-inline: auto;
  width: 810px;
}

.money-title {
  margin-block: 0 40px;
  font-size: 85px;
  font-weight: 600;
  line-height: 105px;
}

.site-input {
  width: 450px;
  margin-bottom: 115px;
  padding: 26px 25px;
  background-size: 66px 72px;
  background-image: url("../images/lupa.svg");
  background-position: calc(50% + 190px), calc(50% + 100px);
  background-repeat: no-repeat;
  border-radius: 50px;
  border: none;
  background-color: #f2f2f2;
}

.section-faster {
  margin-top: 245px;
}

.faster {
  display: flex;
  column-gap: 100px;
}

.faster-box {
  margin-top: 40px;
}

.faster-title {
  margin-block: 0 15px;
  font-size: 65px;
  font-weight: 600;
  line-height: 105px;
}

.faster-text {
  color: #00000099;
  margin-block: 0 190px;
  font-size: 30px;
  line-height: 60px;
}

.section-solution {
  margin-top: 225px;
}

.solution-wrapper {
  text-align: center;
}

.solution-title {
  margin-block: 0 2px;
  font-size: 65px;
  font-weight: 600;
  line-height: 105px;
}

.solution-text {
  margin: 0;
  color: #00000099;
  font-size: 30px;
  line-height: 60px;
}

.solution-list {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.solution-item {
  text-align: center;
}

.solution-item:nth-child(1) {
  position: relative;
  top: 166px;
}

.solution-item:nth-child(2) {
  background-size: 488px 671px;
  padding: 174px 10px 165px 8px;
  background-image: url("../images/bacgraundimg.svg");
  background-repeat: no-repeat;
}

.solution-item:nth-child(3) {
  position: relative;
  top: 166px;
}

.solution-strilka-img {
  position: relative;
  top: -140px;
  left: -319px;
}

.solution-strilka-right-img {
  position: relative;
  top: -135px;
  left: -40px;
}

.solution-item-title {
  margin-block: 20px 10px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.solution-item-text {
  margin: 0;
  color: #00000099;
  font-size: 18px;
  line-height: 20px;
}

.solution-item-title-clear {
  margin-block: 40px 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

.solution-item-text-clear {
  margin: 0;
  color: #00000099;
  font-size: 30px;
  line-height: 60px;
}

.solution-item-wrapper-clear {
  position: relative;
  bottom: -180px;
}

.section-useful {
  margin-top: 220px;
  background-color: #e7f0ff;
}

.useful-box {
  display: flex;
  padding-top: 115px;
  justify-content: space-between;
}

.useful-wrapper {
  width: 609px;
}

.useful-title {
  margin-block: 0 13px;
  font-size: 65px;
  font-weight: 600;
  line-height: 85px;
  letter-spacing: 2px;
}

.useful-text {
  margin-block: 0 62px;
  color: #00000099;
  font-size: 22px;
  line-height: 45px;
}

.useful-form {
  padding-bottom: 138px;
}


.useful-input {
  width: 450px;
  color: #00000099;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 26px 25px;
  border-radius: 50px;
  border: none;
}

.dot-img {
  position: relative;
  top: -210px;
  right: -381px;
}

.right-img {
  position: relative;
  top: -233px;
  left: 330px;
}

.site-footer {
  background-color: #000;
}

.site-footer-box {
  display: flex;
  justify-content: space-between;
  padding-block: 51px 130px;
}

.footer-box-img {
  width: 155px;
}

.footer-text {
  color: #fff;
  margin-block: 0 30px;
  font-size: 16px;
  line-height: normal;
}

.footer-list {
  display: flex;
  column-gap: 30px;
}

.footer-strong {
  display: inline-block;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.footer-wrapper-item {
  margin-bottom: 10px;
}

.footer-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: none;
}